.card {
  width: 18rem;
  overflow: hidden;
  border-radius: 0.5rem;
  .image-setting {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 190px;
  }


}
