<div class="container">
  <div class="row pb-5">
   <div class="col-12 d-flex justify-content-end">
    <app-button-hire></app-button-hire>
   </div>
  </div>
  <div class="row mt-5">
    <div class="col-11">
      <span class="poppins fs-120">I DESIGN</span>

      <p class="fs-60">Code, Enhance</p>
      <button class="btn btn-primary btn-lg mt-5">Contact Us</button>
    </div>
    <div class="col-1 d-flex flex-column gap-3">
      <span class="text-rotate text-muted fs-24">Trend</span>
      <span class="text-rotate text-muted fs-24">Design</span>
      <span class="text-rotate text-muted fs-24">Code</span>
    </div>
  </div>

</div>

