<div class="background">
  <div class="container">
    <div class="row pb-5">
     <div class="col-12 d-flex justify-content-end">
      <!-- <app-button-hire></app-button-hire> -->
      <app-navbar [navItems]="menuItems"></app-navbar>
     </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 col-lg-11">
        <span class="poppins fs-120">I DESIGN</span>

        <p class="fs-60">Code, Enhance</p>
        <a class="btn btn-secondary btn-lg mt-5" routerLink="/contact">Contact Me</a>
      </div>
      <div class="col-lg-1 d-none d-lg-flex flex-column gap-3">
        <span class="text-rotate text-muted fs-24">Trend</span>
        <span class="text-rotate text-muted fs-24">Design</span>
        <span class="text-rotate text-muted fs-24">Code</span>
      </div>
    </div>

  </div>

</div>
