<nav class="wrapper d-flex flex-column align-items-center fs-20 pt-5">

    <div class="sidebar-image"></div>
    <span class="fw-bold mt-4">Yunus Yerli</span>
    <p>Sortware Engineer</p>
    <div class="d-flex flex-column gap-3 mt-5">
      <a routerLink=""><span>Home</span><app-svg-image [width]="'24px'" [height]="'24px'" [source]="'../../../assets/svg/angle-double-right.svg'"></app-svg-image></a>
      <a routerLink=""><span>Portfolio</span><app-svg-image></app-svg-image></a>
      <a routerLink=""><span>Service</span><app-svg-image></app-svg-image></a>
      <a routerLink=""><span>Skills</span><app-svg-image></app-svg-image></a>
      <a routerLink=""><span>Contact</span><app-svg-image></app-svg-image></a>
    </div>


</nav>
