<div class="wrapper">

  <div class="stars">
      <app-navbar [navItems]="menuItems"></app-navbar>
      <div class="central-body">
           <span class="text-404">404</span>
           <span class="subtext-404">LOOKS LIKE YOU ARE</span>
           <span class="subtext-404">LOST IN SPACE</span>
          <a routerLink="/" class="btn-go-home" >GO BACK HOME</a>

      </div>
      <div class="objects">
          <img class="object_rocket" src="../../../assets/svg/rocket.svg" width="40px">
          <div class="earth-moon">
              <img class="object_earth " src="../../../assets/svg/earth.svg" width="100px">
              <img class="object_moon" src="../../../assets/svg/moon.svg" width="80px">
          </div>
          <div class="box_astronaut">
              <img class="object_astronaut" src="../../../assets/svg/astronaut.svg" width="140px">
          </div>
      </div>
      <div class="glowing_stars">
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>

      </div>

  </div>

</div>
