<h4>Send Me Message</h4>
<form class="text-primary" [formGroup]="contactForm" (ngSubmit)="sendMessage()">
  <div class="mb-3">
    <label for="nameFormControlInput" class="form-label">Name</label>
    <input type="text" class="form-control" id="nameFormControlInput" placeholder="Enter fullname" formControlName="name">
    <app-form-errors [errorType] = "contactForm.get('name')"></app-form-errors>
    <div class="invalid-feedback d-block" *ngIf="contactForm.get('name')?.hasError('required') && isSubmitted">yunus1</div>
    <div class="invalid-feedback d-block" *ngIf="contactForm.get('name')?.touched">yunus2</div>
    <div class="invalid-feedback d-block" *ngIf="contactForm.get('name')?.hasError('pattern')">yunus3</div>
  </div>

  <div class="mb-3">
    <label for="emailFormControlInput" class="form-label">Email address</label>
    <input type="email" class="form-control" id="emailFormControlInput" placeholder="name@example.com" formControlName="email">
  </div>
  <div class="mb-3">
    <label for="messageFormControlTextarea" class="form-label">Your message</label>
    <textarea class="form-control" id="messageFormControlTextarea" rows="3" formControlName="message"></textarea>
  </div>
  <div class="d-flex justify-content-end">
    <button type="submit" [disabled]="" class="btn btn-secondary px-3">Send</button>
  </div>
</form>
