<div class="container">
  <div class="row">
   <div class="col-12 d-flex justify-content-end">
    <app-button-hire></app-button-hire>
   </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="fw-bold fs-24">I am watining for you response.</p>
    </div>

    <div class="col-12">
      <div class="row g-3">
        <div class="col-12 col-lg-6">
          <div class="card border-0 shadow">
            <div class="card-body">

              <h5 class="card-title mb-4">Contact Me</h5>

              <div class="d-flex align-items-center mb-4">
                <app-svg-image [width]="'30px'" [height]="'30px'" color="#304ffe" [iconName]="'location-point'"></app-svg-image>
                <div class="d-flex flex-column ms-3">
                  <h6>Location:</h6>
                  <span>Istanbul, Turkey</span>
                </div>
              </div>

              <div class="d-flex align-items-center mb-4">
                <app-svg-image [width]="'30px'" [height]="'30px'" color="#304ffe" [iconName]="'phone'"></app-svg-image>
                <div class="d-flex flex-column ms-3">
                  <h6>Phone:</h6>
                  <span>+90 539 585 86 58</span>
                </div>
              </div>

              <div class="d-flex align-items-center mb-4">
                <app-svg-image [width]="'30px'" [height]="'30px'" color="#304ffe" [iconName]="'envelope'"></app-svg-image>
                <div class="d-flex flex-column ms-3">
                  <h6>Email:</h6>
                  <span>yunusyerli1@gmail.com</span>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
            <app-map></app-map>
        </div>
      </div>

    </div>
  </div>

</div>
