    $primary:#002B49;
    $primaryHover: #0a3a5c;
    $secondary: #0067A0;
    $secondaryHover:#055f8f;
    $success: #2CC84D;
    $info: #6f42c1;
    $warning: #cfad67;
    $danger: #F9423A;
    $light: #f8f9fa;
    $dark: #002B49;
    $gold:#D4AD67;
    $goldHover:#c79332;
    $red: #F9423A;
    $redHover:#c4423c;
    $redSoft: #DE5564;
    $green:#2CC84D;
    $white: #fff;
    $black: #000000;
    $gray: #6c757d;
    $light-gray: #E6E9EB;
    $lightHover: #E2E6EA;
    $gray-dark: #343a40;
    $gray-ghost: #F8F8F9;

   .cpointer {
     cursor: pointer;
   }

   .bg-white {
    background-color: $white;
   }

